<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Shop{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">🛍️ E-Shop</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
           <a href="/cart">
    🛒 Cart
    {% if session.cart %}
        <span class="cart-count">{{ session.cart | length }}</span>
    {% endif %}
</a>

        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
