{% extends "base.html" %}
{% block title %}Your Cart{% endblock %}
{% block content %}

<h1>Your Shopping Cart</h1>

{% if items %}
<form method="POST" action="/update_cart">
    {% for item in items %}
    <div class="cart-item">
        <img src="{{ item.product.image }}" alt="{{ item.product.name }}" style="width:80px">
        <div class="cart-details">
            <strong>{{ item.product.name }}</strong><br>
            <input type="number" name="qty_{{ item.product.id }}" value="{{ item.qty }}" min="0">
            <span>{{ item.product.price * item.qty }} TK</span>
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="update-btn">Update Cart</button>
</form>

 
<form method="POST" action="/clear_cart" class="cart-actions">
    <button type="submit" class="danger" style="background-color: brown; margin-top: 10px; width: 104px ;">Clear Cart</button>
</form>
 

<h3>Total: {{ total }} TK</h3>
<hr>
<h2>Delivery Info</h2>
<form method="POST" action="/confirm_order" class="order-form">
    <input type="text" name="phone" placeholder="Phone number" required>
    <textarea name="address" placeholder="Delivery address" required></textarea>
    <button type="submit" style="background-color: green; font-weight: 500; color: aliceblue;">Confirm Order</button>
</form>
{% else %}
<p>Your cart is empty.</p>
{% endif %}

{% endblock %}
